@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="home-title" class="display-4">Mastery Protein Vendor Management System</h1>
    <img id="home-logo" src="images/homeLogo.png" alt="Master Yourself Logo" />
</div>
