@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="col-md-6 bg-white mx-auto rounded border p-3">
    <h3>Mastery Protein VMS</h3>
    <p>Effective date: April 7, 2024</p>

    <p>Your privacy is important to us. This Privacy Policy outlines how we collect, use, and protect your personal information in our demo software project.</p>

    <h2>Information We Collect</h2>

    <p>We do not collect any personal information in our demo software project. As it is solely for educational purposes, no data is stored, processed, or shared.</p>

    <h2>Usage Data</h2>

    <p>Our demo software may collect non-personal usage data for analytics purposes. This data includes information such as the number of visits, pages viewed, and duration of visits. However, this data is anonymized and cannot be used to identify individuals.</p>

    <h2>Information Security</h2>

    <p>We take precautions to protect your information. Our demo software project is hosted on secure servers, and appropriate security measures are in place to prevent unauthorized access, disclosure, or alteration of any information.</p>

    <h2>Third-party Links</h2>

    <p>Our demo software project may contain links to third-party websites or services. We are not responsible for the content or privacy practices of these websites or services. We encourage you to review the privacy policies of any third-party sites or services before providing any personal information.</p>

    <h2>Changes to This Privacy Policy</h2>

    <p>We reserve the right to update or change our Privacy Policy at any time. Any changes will be effective immediately upon posting the updated Privacy Policy on this page.</p>

    <h2>Contact Us</h2>

    <p>If you have any questions or concerns about our Privacy Policy, please contact us at tlbs6513@gmail.com</p>
</div>
